dist: trusty
sudo: false
language: node_js
notifications:
  email: false
node_js:
  - '10'
install:
  - npm install
before_install:
  - npm install -g node-gyp
  - npm install -g greenkeeper-lockfile
before_script:
  - greenkeeper-lockfile-update
  - cp config/ci.json config/test.json
  - psql --version
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -d travis_ci_test -c 'CREATE EXTENSION "uuid-ossp";'
  - psql -d travis_ci_test -c 'CREATE EXTENSION "pgcrypto";'
  - npm run migratedb --silent
  - npm run seeddb --silent
after_script:
  - greenkeeper-lockfile-upload
services:
  - postgresql
addons:
  postgresql: '9.6'
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
